@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.heading {
    width: 100vw;
    height: 4.0rem;
    background-color: aquamarine;
    color: black;

}

.heading h1 {
    line-height: 3.5rem;
    margin-left: 2rem;
    font-weight: 400;

}

.cards {

    width: 18%;
    background-color: turquoise;
    display: inline-block;
    border-radius: 5px;
    margin: 40px;

}

.cards:hover {
    box-shadow: 7px 7px 10px purple;
}

.image img {
    width: 100%;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.title {
    text-align: center;
    padding: 5px;

}

.description {
    text-align: center;
    padding: 4px;
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: black;
    color: white;
    transition: .5s;

}

body {
    background-image: url('wallpaperflare.com_wallpaper\(9\).jpg');
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

footer p {
    background-color: aquamarine;
    text-align: center;
}